nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    div.container.justify-content-center
        .navbar-brand 
            span.text-warning.h1 SHARE-FY
            
        //- button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navmenu')
        //-     span.navbar-toggler-icon

        //- .collapse.navbar-collapse#navmenu
        //-     ul.navbar-nav.ms-auto 
        //-         li.nav-item
        //-             a.nav-link.active(aria-current='page' href='#') About
        //-         li.nav-item
        //-             a.nav-link.active(href='#') Contact