include _header

  title Share-Fy | #{title}

  body
    
    include _navbar
    
    .container.d-flex.justify-content-center.py-5
      section.download
        img.download__icon(src='/img/download-sd.svg' alt='share-fy-download')

        if(error)
          h4= error

        else
          h3 Your file is ready to download
          p.text-danger Link expires in 24 hours
          .download__meta
            p.lead.text-dark.fs-4 #{parseInt(fileSize/1000)} KB in total
            h5.text-success= fileName
          a.btn.btn-primary(href= downloadLink ) Download file
    

    //- Footer
    include _footer