doctype html
html
  head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type="image/x-icon" href='/favicon.ico')
      title Share-Fy | #{title}
  
  body
    section.download
      img.download__icon(src='/img/download-sd.svg' alt='share-fy-download')

      if(error)
        h4= error

      else
        h2 Your file is ready to download
        p Link expires in 24 hours
        .download__meta
          h4= fileName
          small #{parseInt(fileSize/1000)} KB
        .send-btn-container
          a(href= downloadLink ) Download file
    
    //- Linkedin Link
    a(href='https://www.linkedin.com/in/nilesh-kumar-408a91163/' target='_blank'  aria-label='Connect with me')
      img.linkedin-icon(src='/img/linkedin-icon.svg' alt='share-fy-download')      