include _header
  title Share-Fy
  
  body
    //- Header
    include _navbar

    //- Showcase
    include showcase

    .container.py-5
        .d-flex.justify-content-center
            include upload_container

    //- FOOTER
    include _footer