section.bg-dark.text-light.p-2.text-center
    .container
        .d-sm-flex.align-items-center
            div.col-sm-6
                h2 
                    spane.text-warning SHARE 
                    span your 
                    span.text-warning FILES
                p.lead WAY EASIER 😃
            img#share-vector.flex-fill.img-fluid(src="img/sharing-article.svg", alt="share-vector")