.navbar,
.__brand {
  font-size: 1.5rem;
}

html,
body {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Landing */
.upload-container {
  background: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 20px 20px #0000002e;
}

.upload-spinner {
  position: relative;
  display: none;
}

.drop-zone,
.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drop-zone {
  width: 400px;
  min-height: 200px;
  margin: 30px;
  transition: all 0.2s;
}

.dragged .drop-zone {
  background: var(--border-color);
  border-color: rgb(219, 49, 63);
}

.icon-container {
  width: 75px;
  height: 100px;
  position: relative;
}

.icon-container img {
  width: 75px;
  position: absolute;
  transform-origin: bottom;
  transition: transform 0.25ms ease-in-out;
}

.icon-container .center {
  z-index: 2;
}

.icon-container .right,
.icon-container .left {
  filter: grayscale(0.5);
}

.dragged .icon-container .right {
  transform: rotate(15deg) translate(15px) scale(0.9);
}
.dragged .icon-container .left {
  transform: rotate(-15deg) translate(-15px) scale(0.9);
}

.dragged .icon-container .center {
  transform: translateY(-5px);
}

#fileinput {
  display: none;
}

.browseOption {
  color: rgb(219, 49, 63);
  cursor: pointer;
}

.sharing-container {
  margin-bottom: 25px;
  width: var(--container-width);
  border-radius: 10px;
  display: none;
}

.sharing-container p {
  text-align: center;
}

.sharing-container .expire {
  font-size: 16px;
  opacity: 0.7;
  margin-top: 0;
}

.sharing-container .input-container {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.sharing-container .input-container input {
  width: 100%;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 20px;
  border: 2px dashed var(--border-color);
  border-radius: 6px;
  background: #f5fcff;
  color: #607d8b;
}

.sharing-container img {
  height: 22px;
  width: 30px;
  position: absolute;
  right: 7px;
  top: 12px;
  cursor: pointer;
  background: #f5fcff;
}

.email-container {
  display: flex;
  align-items: center;
}

.email-container form {
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.email-container .field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 400px;
}

.email-container label {
  font-size: 18px;
}

.email-container input {
  font-size: 18px;
  border: none;
  border-bottom: 2px solid var(--border-color);
  text-align: center;
}

.email-container input:focus {
  outline: none;
}

.email-container button {
  font-size: 18px;
  padding: 8px 40px;
  margin-top: 15px;
  background: var(--main-bg-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#hide {
  display: none;
}

.show-toast {
  left: 0;
  right: 0;
  margin: auto;
  max-width: 300px;
  height: 30px;
  background: #212529;
  color: #ffc107;
  font-family: sans-serif;
  text-align: center;
  border-radius: 5px;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.7s, visibility 0.7s;
}

.toast--visible {
  opacity: 1;
  visibility: visible;
}

.toast--success {
  background: #55c57a;
  color: #ffffff;
}

.toast--error {
  background: #dc3545;
  color: #ffffff;
}

#share-vector {
  height: 25vh;
  width: 25vw;
}
/* FOOTER */

.footer {
  margin-top: auto;
}

/* Download Link Page */
section.download {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 20px 20px 0px #00000017;
  padding: 2rem;
  text-align: center;
}
.download__icon {
  height: 8rem;
}

@media (max-width: 575px) {
  #share-vector {
    height: 50%;
    width: 50%;
  }
}

@media (max-width: 370px) {
  #share-vector {
    display: none;
  }
}
